<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger!</title>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/flaticon.css" />
    <!-- Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- Bootsnav -->
    <link rel="stylesheet" href="/assets/css/bootsnav.css">
    <!-- Color style -->
    <link rel="stylesheet" href="/assets/css/color.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
</head>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Bootsnav js -->
<script src="/assets/js/bootsnav.js"></script>

<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/burgers.js"></script>

<body data-spy="scroll" data-target="#navbar-menu" data-offset="100">
    {{{ body }}}
</body>

</html>