<tr>
	<td><input type="text" id="newCustomer{{id}}" name="name" placeholder="Customer name"></td>
	<td>{{burger_name}}</td>
	<td><button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">Purchase</button></td>
</tr>
<tr class="blank_row">
	<td></td>
</tr>